<div class="main">
  @if (ilfaitbeau) {
    il fait beau
  } @else {
    il fait moche
  }
  <div>
    <h1>Salut tout le monde, ou plutot salut {{ currentPlayer.name }}</h1>
    <h2>Titre : {{ title }} </h2>
    <div>
      <label for="name">name</label>
      <input id="name" [(ngModel)]="currentPlayer.name" />
    </div>
    <div>
      <label for="firstName">First name</label>
      <input id="firstName" [(ngModel)]="currentPlayer.firstName" />
    </div>
    <div>
      <label for="ranking">Ranking</label>
      <input id="ranking" type="number" [(ngModel)]="currentPlayer.ranking" />
    </div>
  </div>
  <button (click)="onSubmit()">Save</button>

  <ul>
    @for (player of players; track $index) {
      <li> {{ player.firstName }} {{ player.name }} - {{ player.ranking }} </li>
    }
  </ul>

</div>
<app-players-table [players]="players"></app-players-table>
