<div class="main">
  <div>
    <app-players-title [actualPlayer]="selectedPlayer"></app-players-title>
    <app-player-form (addPlayer)="onSubmit($event)"></app-player-form>
  </div>

  <div>
    <input type="radio" id="tableopt"  value="table" [(ngModel)]="viewType" />
    <label for="tableopt">table</label>
    <input type="radio" id="listopt" value="list"  [(ngModel)]="viewType" />
    <label for="listopt">list</label>
  </div>
  {{ viewType }}

  @if (viewType == 'table') {
    <app-players-table [players]="players"
    (clickPlayer)="onSelectPlayer($event)">
  </app-players-table>
} @else {
  <app-players-list [players]="players"></app-players-list>
}
